.review-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(236, 252, 247);
    padding: 1rem;
    box-sizing: border-box;
}

h1, footer{
    background-color: rgb(255, 235, 211);
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}
 
.review-form select,
.review-form input[type="date"],
.review-form input[type="text"],
.review-form textarea,
.review-form input[type="submit"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    min-height: 44px;
}

.rating label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: .5rem;
    min-height: 44px;
}

.rating input[type="radio"] {
    margin-left: .5rem;
}

.rating span {
    display: block;
}

.features label {
    display: block;
    min-height: 44px;
}

span {
    color: blue;
}

.rating {
    border: none;
    padding: 0;
    margin: 1.5rem 0;
}

.features {
    border: none;
    padding: 0;
    margin: 1rem 0;
}

label input[type="submit"] {
    margin-top: 1rem;
    padding: .75rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #00523f;
    color: white;
    cursor: pointer;
}

label input[type="submit"]:hover {
    background-color: #246244;
}

.review-form textarea {
    min-height: 120px;
}

@media (min-width: 600px) {
    .rating label {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
        margin-bottom: 0;
    }
    .rating input[type="radio"] {
        margin-left: 0;
    }
}